/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --bg-color: #e3e3e3;
  --bg-color-green: #3ff300;
  --bg-color-green-dark: #124500;

  --button-color: #303030;
  --button-shadow: 10px 10px 10px rgba(0, 0, 0, 0.57),
    inset -3px -3px 2px rgba(0, 0, 0, 0.12),
    inset 3px 3px 3px rgba(228, 228, 228, 0.25);

  --screw-color: #555555;
  --screw-color-light: #d9d9d9;
  --screw-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.25);
  --screw-shadow-light: inset 2px 1px 1px rgba(255, 255, 255, 0.25);
  --screw-shadow-dark: inset -2px -1px 1px rgba(0, 0, 0, 0.25);

  --inset-shadow-light: inset 4px 4px 4px #f4f4f4;
  --inset-shadow-dark: inset -4px -4px 4px #939393;
}

h2 {
  font-weight: 700;
  font-size: 8px;
}

p {
  font-weight: 400;
  font-size: 8px;
  text-align: center;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a3a3a3;
  font-family: 'Inter', sans-serif;
  flex-direction: column;
}

main {
  position: relative;
  width: 800px;
  height: 350px;
  background-color: var(--bg-color);
  border-radius: 5px;
  box-shadow: var(--inset-shadow-dark), var(--inset-shadow-light);
  display: flex;
}

/* SCREWS */
main figure {
  z-index: 1;
}

/* screw 1 */
main figure:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  aspect-ratio: 1/1;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--screw-color);
  margin: 15px;
  /* transform: scale(20); */
  box-shadow: var(--screw-shadow-dark), var(--screw-shadow-light);
  transform: rotate(23deg);
}
/* screw 2 */
main figure:nth-child(2) {
  position: absolute;
  top: 0;
  left: calc(100% - 48px);
  width: 16px;
  aspect-ratio: 1/1;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--screw-color);
  margin: 15px;
  /* transform: scale(20); */
  box-shadow: var(--screw-shadow-dark), var(--screw-shadow-light);
  transform: rotate(70deg);
}
/* screw 3 */
main figure:nth-child(3) {
  position: absolute;
  top: calc(100% - 48px);
  left: calc(100% - 48px);
  width: 16px;
  aspect-ratio: 1/1;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--screw-color);
  margin: 15px;
  /* transform: scale(20); */
  box-shadow: var(--screw-shadow-dark), var(--screw-shadow-light);
  transform: rotate(35deg);
}
/* screw 4 */
main figure:nth-child(4) {
  position: absolute;
  top: calc(100% - 48px);
  left: 0;
  width: 16px;
  aspect-ratio: 1/1;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--screw-color);
  margin: 15px;
  /* transform: scale(20); */
  box-shadow: var(--screw-shadow-dark), var(--screw-shadow-light);
  transform: rotate(-10deg);
}

/* screw X */
main figure::before {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 1px);
  display: block;
  content: '';
  width: 2px;
  height: 12px;
  background-color: var(--screw-color-light);
  box-shadow: var(--screw-shadow);
}
main figure::after {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 1px);
  display: block;
  content: '';
  width: 2px;
  height: 12px;
  background-color: var(--screw-color-light);
  box-shadow: var(--screw-shadow);
  transform: rotate(90deg);
}
/* screw X */
/* SCREWS */

/* BUTTONS */
main section {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* button light */
main section div {
  width: 12px;
  aspect-ratio: 1/1;
  background-color: var(--bg-color-green);
  border-radius: 50%;
  box-shadow: var(--screw-shadow-dark), var(--screw-shadow-light);
  /* transform: scale(20); */
}

/* rotate button */
main section input[type='checkbox'] {
  display: none;
}

main section label {
  position: relative;
  width: 90px;
  aspect-ratio: 1/1;
  padding: 10px;
  background-color: var(--button-color);
  border-radius: 50%;
  box-shadow: var(--button-shadow);
  z-index: 2;
  /* transform: scale(20); */
}

main section label::before {
  position: absolute;
  top: 0;
  left: calc(50% - 2px);
  content: '';
  display: inline-block;
  width: 4px;
  height: 50%;
  background-color: white;
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.39);
}

main section label:hover {
  transform: rotate(160deg);
  transition: 2s;
}

main section p {
  position: absolute;
  width: 100%;
  height: 100%;
}

main section p:nth-child(1) {
  position: absolute;
  top: 115px;
  left: 0;
}
main section p:nth-child(2) {
  position: absolute;
  top: 170px;
  left: 57px;
}
main section p:nth-child(3) {
  position: absolute;
  top: 226px;
  left: 0;
}
main section p:nth-child(4) {
  position: absolute;
  top: 170px;
  left: -57px;
}

/* BUTTONS */
