/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --bg-color: #e3e3e3;
  --bg-color-green: #3ff300;
  --bg-color-green-dark: #124500;

  --button-color: #303030;
  --button-shadow: 10px 10px 10px rgba(0, 0, 0, 0.57),
    inset -3px -3px 2px rgba(0, 0, 0, 0.12),
    inset 3px 3px 3px rgba(228, 228, 228, 0.25);

  --screw-color: #555555;
  --screw-color-light: #d9d9d9;
  --screw-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.25);
  --screw-shadow-light: inset 2px 1px 1px rgba(255, 255, 255, 0.25);
  --screw-shadow-dark: inset -2px -1px 1px rgba(0, 0, 0, 0.25);

  --inset-shadow-light: inset 4px 4px 4px #f4f4f4;
  --inset-shadow-dark: inset -4px -4px 4px #939393;
}

h2 {
  font-weight: 700;
  font-size: 8px;
}

p {
  font-weight: 400;
  font-size: 8px;
  text-align: center;
}

body {
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: #222;
  font-family: 'Inter', sans-serif;
  flex-direction: column;
  transition: 1s;
}

main {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: var(--bg-color);
  border-radius: 5px;
  box-shadow: var(--inset-shadow-dark), var(--inset-shadow-light);
  display: flex;
}

/* SCREWS */
main figure {
  z-index: 1;
}

/* screw 1 */
main figure:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  aspect-ratio: 1/1;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--screw-color);
  margin: 15px;
  /* transform: scale(20); */
  box-shadow: var(--screw-shadow-dark), var(--screw-shadow-light);
  transform: rotate(23deg);
}
/* screw 2 */
main figure:nth-child(2) {
  position: absolute;
  top: 0;
  left: calc(100% - 48px);
  width: 16px;
  aspect-ratio: 1/1;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--screw-color);
  margin: 15px;
  /* transform: scale(20); */
  box-shadow: var(--screw-shadow-dark), var(--screw-shadow-light);
  transform: rotate(70deg);
}
/* screw 3 */
main figure:nth-child(3) {
  position: absolute;
  top: calc(100% - 48px);
  left: calc(100% - 48px);
  width: 16px;
  aspect-ratio: 1/1;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--screw-color);
  margin: 15px;
  /* transform: scale(20); */
  box-shadow: var(--screw-shadow-dark), var(--screw-shadow-light);
  transform: rotate(35deg);
}
/* screw 4 */
main figure:nth-child(4) {
  position: absolute;
  top: calc(100% - 48px);
  left: 0;
  width: 16px;
  aspect-ratio: 1/1;
  padding: 3px;
  border-radius: 50%;
  background-color: var(--screw-color);
  margin: 15px;
  /* transform: scale(20); */
  box-shadow: var(--screw-shadow-dark), var(--screw-shadow-light);
  transform: rotate(-10deg);
}

/* screw X */
main figure::before {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 1px);
  display: block;
  content: '';
  width: 2px;
  height: 12px;
  background-color: var(--screw-color-light);
  box-shadow: var(--screw-shadow);
}
main figure::after {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 1px);
  display: block;
  content: '';
  width: 2px;
  height: 12px;
  background-color: var(--screw-color-light);
  box-shadow: var(--screw-shadow);
  transform: rotate(90deg);
}
/* screw X */
/* SCREWS */

/* BUTTONS */
main section {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* button light */
main section div {
  width: 12px;
  aspect-ratio: 1/1;
  background-color: var(--bg-color-green);
  border-radius: 50%;
  box-shadow: var(--screw-shadow-dark), var(--screw-shadow-light);
  /* transform: scale(20); */
}

main > section:nth-of-type(even) > div {
  width: 12px;
  aspect-ratio: 1/1;
  background-color: var(--bg-color-green-dark);
  border-radius: 50%;
  box-shadow: var(--screw-shadow-dark), var(--screw-shadow-light);
  /* transform: scale(20); */
}

/* rotate button */
main section input[type='radio'] {
  z-index: 200;
  /* display: none; */
}

main section label {
  position: relative;
  width: 90px;
  aspect-ratio: 1/1;
  padding: 10px;
  background-color: var(--button-color);
  border-radius: 50%;
  box-shadow: var(--button-shadow);
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

main section label::before {
  position: absolute;
  top: 0;
  left: calc(50% - 2px);
  content: '';
  display: inline-block;
  width: 4px;
  height: 50%;
  background-color: white;
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.39);
  transform-origin: bottom center;
  border-radius: 0 0 2px 2px;
}

main section label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

main section label input:nth-of-type(1) {
  right: -20%;
}
main section label input:nth-of-type(2) {
  bottom: -20%;
}
main section label input:nth-of-type(3) {
  left: -20%;
}
main section label input:nth-of-type(4) {
  top: -20%;
}

main:has(input:checked) section label::before {
  transition: all 500ms cubic-bezier(1, 0, 1, 0); /* custom */
}

main:has(input[value='checkbox_1']:checked) section label::before {
  transform: rotate(90deg);
}
main:has(input[value='checkbox_5']:checked) section label::before {
  transform: rotate(90deg);
}
main:has(input[value='checkbox_2']:checked) section label::before {
  transform: rotate(180deg);
}
main:has(input[value='checkbox_6']:checked) section label::before {
  transform: rotate(180deg);
}
main:has(input[value='checkbox_3']:checked) section label::before {
  transform: rotate(270deg);
}
main:has(input[value='checkbox_4']:checked) section label::before {
  transform: rotate(0deg);
}
main:has(input[value='checkbox_4']:checked) section > div {
  background-color: var(--bg-color-green-dark);
}
main:has(input[value='checkbox_8']:checked) section > div {
  background-color: var(--bg-color-green-dark);
}

main section p {
  position: absolute;
  /* width: 100%;
  height: 100%; */
}

main section label p:nth-of-type(1) {
  position: absolute;
  top: -16%;
}
main section label p:nth-of-type(2) {
  position: absolute;
  right: -16%;
}
main section label p:nth-of-type(3) {
  position: absolute;
  bottom: -16%;
}
main section label p:nth-of-type(4) {
  position: absolute;
  left: -16%;
}

/* BUTTONS */

body:has(input[value='checkbox_2']:checked) {
  background-color: #aaa;
  transition: all 500ms cubic-bezier(1, 0, 1, 0); /* custom */
}

body:has(input[value='checkbox_3']:checked) {
  background-color: #dadada;
  transition: all 500ms cubic-bezier(1, 0, 1, 0); /* custom */
}

/* SVG ANIMATION */
@keyframes move_left-eye {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(70px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes move_juan {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(70px) translateY(70px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes move_mouth {
  0% {
    transform: rotate(0deg) translateY(0px);
  }

  100% {
    transform: rotate(30deg) translateY(0px);
  }
}

@keyframes move_mouth_back {
  0% {
    transform: rotate(30deg) translateY(0px);
  }

  100% {
    transform: rotate(0deg) translateY(0px);
  }
}

@keyframes move_mouth_down {
  0% {
    transform: rotate(30deg) translateY(0px);
  }

  100% {
    transform: rotate(12deg) translateY(42px);
  }
}

svg {
  position: absolute;
  right: 40%;
  top: 20%;
  transition: all 00ms;
}

body:has(input[value='button']:checked) svg {
  offset-path: path(
    'M15.541,243.303C16.21,219.321 30.448,143.922 88.62,145.435C146.793,146.948 132.735,199.861 126.175,233.318C119.615,266.775 139.193,305.391 190.045,301.296C240.896,297.201 272.296,256.861 277.71,206.221C283.125,155.582 236.55,163.225 232.303,187.532C228.057,211.839 255.03,233.417 301.396,215.955C347.763,198.494 338.917,165.724 329.914,139.292C319.546,108.855 335.797,51.805 390.533,60.171C440.125,67.75 443.84,114.527 426.955,152.296C407.61,195.567 396.033,220.441 419.696,258.748C443.358,297.055 504.072,294.099 517.313,250.744C530.553,207.39 501.502,169.464 494.931,147.938C488.36,126.412 516.8,107.776 538.451,118.963C560.103,130.15 561.621,167.457 531.87,180.883'
  );
  animation: move 4000ms infinite alternate ease-in-out !important;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

body:has(input[value='checkbox_1']:checked) #left_pupil,
body:has(input[value='checkbox_1']:checked) #right_pupil {
  animation: move_left-eye 2s ease infinite;
}

#mouth {
  transform-origin: center center;
}

body:has(input[value='checkbox_5']:checked) svg #mouth {
  animation: move_mouth 1s ease forwards;
}

body:has(input[value='checkbox_6']:checked) svg #mouth {
  animation: move_mouth_down 1s ease forwards;
}

body:has(input[value='checkbox_8']:checked) svg #mouth {
  animation: move_mouth_back 1s ease forwards;
}

svg {
  animation: move_juan 10s ease infinite;
}

[data-btnSection='1'] > div:first-of-type {
  background-color: var(--bg-color-green-dark);
}

[data-btn='1'] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--bg-color);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.72), -20px -20px 50px #ffffff,
    inset -4px -4px 4px rgba(118, 118, 118, 0.25),
    inset 4px 4px 4px rgba(41, 41, 41, 0.25);
}

[data-btn='1'] div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.68);
  z-index: 2;
  box-shadow: none;
}

[data-btn='1'] div label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--bg-color);
  z-index: 3;
  box-shadow: inset -15px -15px 20px 2px rgba(173, 173, 173, 0.25),
    inset 15px 15px 20px 5px rgba(62, 62, 62, 0.25),
    inset -3px -3px 0px #cecece7c, inset 3px 3px 0px #ffffff;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

[data-btn='1'] div label::before {
  display: none;
}

main:has(input[value='button']:checked) section label {
  box-shadow: inset -15px -15px 20px 2px rgba(173, 173, 173, 0.6),
    inset 15px 15px 20px 5px rgba(42, 42, 42, 0.5), inset -1px -1px 0px #9b9b9b,
    inset 1px 1px 0px #ffffff;
  width: 77px;
}

main:has(input[value='button']:checked)
  [data-btnSection='1']
  > div:first-of-type {
  background-color: var(--bg-color-green);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body:has(input[value='button']:checked) main,
body:has(input[value='button']:checked) {
  background: linear-gradient(-45deg, #ffff10, #e73c3c, #234fd5, #23d541);
  background-size: 400% 400%;
  animation: gradient 0.5s ease infinite;
  height: 100vh;
}
