* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b8b8b8;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

main > section {
  width: 500px;
  aspect-ratio: 1/1;
}
